.private/
*.FCStd1
Bottle Cutter/UNF senior design 2022-23/X-Maker/2.Qidi 3D slicer software/
Bottle Cutter/UNF senior design 2022-23/Bottle Cutter (C) 2023 Green Ellipsis.mp4
Bottle Cutter/UNF senior design 2022-23/CAD/Final CAD.zip
Bottle Cutter/UNF senior design 2022-23/Green Ellipsis Senior Design 1.zip
events/2023 Maker Faire Orlando/Autotruder.pptx
